#SideBar_Main {
  height: 100vh;
  /* background-color: rgba(0, 0, 0, 0.808); */
  background-color: white;
  padding: 1rem;
  position: fixed;
  transform: translateX(-100%);
  transition: 0.2s ease-in-out;
  z-index: 1;
  
}

#SideBar_Main.Open {
  /* position: relative; */
  transform: translateX(0);
  box-shadow: 0px 0px 10px gray;
}

#SideBar_Main ul {
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-top: 3rem;
  list-style: none;

  /* House */
}

#SideBar_Main ul li {
  /* border: 1px solid white; */
  display: flex;
  align-items: center;
  column-gap: 1rem;
  /* color: white; */
  font-weight: 500;
}

#SideBar_Main ul li a {
  color: black;
  list-style: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

#SideBar_Main_siteName a {
  font-size: 2rem;
  color: teal;
  font-weight: 650;
  text-decoration: none;
}

#SideBar_Main p {
  margin-top: 1rem;
}

#SideBar_Toggle_button {
  /* border: 1px solid black; */
  width: fit-content;
  height: fit-content;
  display: flex;
  position: absolute;
  top: 1rem;
  right: -2rem;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  /* #SideBar_Main_siteName {
    display: none;
  }
  #SideBar_Main {
    width: 15vw;
  }
  .SideBar_P {
    display: none;
  } */
}
