#ListenSong_Main {
  display: flex;
}

#ListenSong_Content {
  height: 100vh;
  width: 100%;
  overflow: auto;
  /* padding: 1rem; */
  background-color: ghostwhite;
  color: black;
  display: flex;
  flex-direction: column;
  /* row-gap: 3rem; */
  justify-content: space-between;
}

#ListenSong_Top1 {
  position: relative;
}

#ListenSong_Top1 img {
  width: 100%;
  height: 70vh;
  object-position: 0% 10%;
  object-fit: cover;
  filter: brightness(40%);
  /* object-position: bottom; */
  /* border: 1px solid white; */
}

#ListenSong_info {
  /* border: 1px solid white; */
  width: 100%;
  padding: 1rem 2rem;
  position: absolute;
  bottom: 0;
}

#ListenSong_info p:nth-of-type(1) {
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
}

#ListenSong_info p:nth-of-type(2) {
  font-size: 0.8rem;
  color: white;
}

#ListenSong_Range {
  /* border: 1px solid white; */
  padding: 0 2rem;
}

#ListenSong_Range input {
  width: 100%;
  -webkit-appearance: none; /* Remove default styling in WebKit browsers */
  appearance: none;
  height: 5px;
  border-radius: 20px;
  background-color: gray;
}

#ListenSong_Range input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
}

#ListenSong_Controls {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  column-gap: 2rem;
  align-items: center;
  margin-bottom: 1rem;
  background-color: ghostwhite;
}

#ListenSong_Controls_Play {
  padding: 0.6rem 0.8rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid black;
}

#ListenSong_Controls button {
  background-color: ghostwhite;
  color: black;
  border: none;
  transition: 0.2s;
  cursor: pointer;
}

#ListenSong_Controls button:active {
  transform: scale(0.95) translateY(0.2rem);
}

@media only screen and (max-width: 600px) {
  #ListenSong_Top1 {
    /* border: 1px solid white; */
  }
  #ListenSong_Top1 img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  #ListenSong_Range {
    /* border: 1px solid white; */
    padding: 0 1rem;
  }

  #ListenSong_info {
    padding: 1rem 0.5rem;
    /* border: 1px solid white; */
  }

  #ListenSong_Controls {
    /* border: 1px solid white; */
    column-gap: 1.5rem;
  }

  /* #ListenSong_Controls_Play{
    padding: ;
  } */
}
